<div class="full_page d-flex flex-column justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://occ-0-1722-1723.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABUxEcHdgRHUvXT358XVnqQpFizU3K7OqCctyUYjC_dBDq0wJwrY7nnEcrmWE0XNSg3qyLO-6C19GsFK0NVc6WZvaOBlN.jpg?r=5f0);">
  <div class="container">
    <h1>Watch List</h1>
    <p>The world’s largest tracking tool for TV + movies</p>
    <%= link_to "Let's create my Watch List", lists_path, class: "btn btn-primary" %>
  </div>
</div>
